<div class="joinus-wrapper">
  <div class="container">
    <div class="row joinus-content">
      <div class="col">
          <div class="joinus-heading">
              <h1>Join us in our</h1>
              <h1>Initial NFT offering</h1>
          </div>
          <div class="join-us-content">
              <p>Get involved in one of the most revolutionary NFT projects that are going to promote blockchain adaptation in Asia!</p>
              <span>February 14, 2022 @ 12:00 AM UTC</span>
          </div>
          <div class="count-clock" id="count-clock"></div>
          <div class="learn-more-button">
            <button>Learn more</button>
          </div>
      </div>
      <div class="col joinus-block"></div>
    </div>
  </div>
</div>
<script>
    var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();
    var x = setInterval(function() {
    
    var now = new Date().getTime();

    var distance = countDownDate - now;
        
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("count-clock").innerHTML = days + "DAYS" + hours + "HOURS"
      + minutes + "MINUTES" + seconds + "SECONDS";
     
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("count-clock").innerHTML = "EXPIRED";
      }
    }, 1000);
</script>