<div class="joinus-wrapper">
  <div class="container">
    <div class="row joinus-content">
      <div class="col">
          <div class="joinus-heading">
              <h1>Join us in our</h1>
              <h1>Initial NFT offering</h1>
          </div>
          <div class="join-us-content">
              <p>Get involved in one of the most revolutionary NFT projects that are going to promote blockchain adaptation in Asia!</p>
              <span>February 14, 2022 @ 12:00 AM UTC</span>
          </div>
          <div class="timer" id="timer">
            <div class="countdown">
              <h1 id="days"> {{daysToDday}} </h1>
              <p>Days</p>
            </div>
            <div class="countdown">
              <h1 id="hours"> {{hoursToDday}} </h1>
              <p>Hours</p>
            </div>
            <div class="countdown">
              <h1 id="minutes"> {{minutesToDday}} </h1>
              <p>Minutes</p>
            </div>
            <div class="countdown">
              <h1 id="seconds"> {{secondsToDday}} </h1>
              <p>Seconds</p>
            </div>
          </div>
          <div class="learn-more-button">
            <button>Learn more</button>
          </div>
      </div>
      <div class="col joinus-block"></div>
    </div>
  </div>
</div>