<div class="aboutus-wrapper">
  <div class="container">
    <div class="row about-us-content">
      <div class="col-sm-12 col-md-6">
        <div class="about-us-heading">
            <h3>About us</h3>
            <h1>Introduction</h1>
        </div>
        <div class="about-us-content-p">
            <p>A total of 10,001 Unique NFTs are dedicated to the blockchain enthusiasts that supporting the blockchain adaptation in our community. Along with these are the 47 Cyber Ronins NFTs that are running on the Three Major Blockchain Network with one common goal - to find Master Satoshi Nakamoto.</p>
        </div>
        <div class="about-us-content-img">
            <img src="../../assets/Images/sound.svg" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 aboutus-img-main">
          <div class="aboutus-img">
            <img src="../../assets/Images/goal.svg" />
          </div>
      </div>
    </div>
  </div>
</div>
