.aboutus-wrapper{
    background-color: hsl(234deg 72% 11%);
    padding: 150px 0px;
    color: #fff;

    .about-us-heading{
        text-transform: uppercase;
        position: relative;
        font-family: 'Aquire' !important;
        margin: 0 0 15px 0;
    
        h3{
            font-size: 40px;
            font-weight: 700; 
        }
        h1{
            font-size: 55px;
            font-weight: 900;
        }
    }
    
    .about-us-heading::after {
        content: "";
        display: block;
        width: 30%;
        height: 9px;
        padding: 0;
        margin: 0;
        background-color: #3de0e6;
    }
    .about-us-content-p{
        padding: 27px 0;
        font-size: 21px;
        line-height: 40px;
    }
    .about-us-content-img img{
        width: 95%;
    }
    .aboutus-img img{
        width: 95%;
    }
}

@media (max-width: 991px) and (min-width: 768px) { 
    .aboutus-wrapper{
        .about-us-heading{
            h1{
                font-size: 44px;
            }
        }
        .about-us-content-p{
            padding: 27px 0;
            font-size: 18px;
            line-height: 35px;
        }
    }
}