<div class="partners-wrapper">
  <div class="container">
    <div class="partners-heading">
      <h1>Our Partners</h1>
    </div>
    <div class="row partners-content">
        <div class="col-sm-6 col-md-3 partner-img">
            <img src="../../assets/Images/1-gr.svg"/>
        </div>
        <div class="col-sm-6 col-md-3 partner-img">
            <img src="../../assets/Images/2-gr.svg"/>
        </div>
        <div class="col-sm-6 col-md-3 partner-img">
            <img src="../../assets/Images/3-gr.svg"/>
        </div>
        <div class="col-sm-6 col-md-3 partner-img">
            <img src="../../assets/Images/4-gr.svg"/>
        </div>
    </div>
  </div>
</div>
