<div class="ntf-listing">
  <div class="container">
    <div class="row ntf-content">
      <div class="col-md-3 col-sm-6 col-xs-10">
        <div class="ntf-box"></div>
        <div class="ntf-content-detail">
          <div class="ntf-heading">
            <h2>RONIN</h2>
            <h2>NTF</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
          </p>
          <button>MINT</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10">
        <div class="ntf-box"></div>
        <div class="ntf-content-detail">
          <div class="ntf-heading">
            <h2>ARTISAN</h2>
            <h2>NTF</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
          </p>
          <button>MINT</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10">
        <div class="ntf-box"></div>
        <div class="ntf-content-detail">
          <div class="ntf-heading">
            <h2>MERCHANT</h2>
            <h2>NTF</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
          </p>
          <button>MINT</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10">
        <div class="ntf-box"></div>
        <div class="ntf-content-detail">
          <div class="ntf-heading">
            <h2>RONIN</h2>
            <h2>NTF</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
          </p>
          <button>MINT</button>
        </div>
      </div>
    </div>
  </div>
</div>
