<div class="ntf-listing">
  <div class="container">
     <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>RONIN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
            </p>
            <button>MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>ARTISAN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
            </p>
            <button>MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>MERCHANT</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
            </p>
            <button>MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>RONIN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
            </p>
            <button>MINT</button>
          </div>
        </div>
      </ng-template> 
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>ARTISAN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo.
            </p>
            <button>MINT</button>
          </div>
        </div>
      </ng-template> 
    </owl-carousel-o>
  </div>
</div>
