<div class="ntf-listing">
  <div class="container">
     <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>RONIN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Total Supply: {{(nft1$|async)?.supply}}
            </p>
            <button *ngIf="account&&account.length" (click)="mint('1','0.05')">MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>ARTISAN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Total Supply: {{(nft2$|async)?.supply}}
            </p>
            <button *ngIf="account&&account.length" (click)="mint('2','0.03')">MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>MERCHANT</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Total Supply: {{(nft3$|async)?.supply}}
            </p>
            <button *ngIf="account&&account.length" (click)="mint('3','0.04')">MINT</button>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>RONIN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Total Supply: {{(nft4$|async)?.supply}}
            </p>
            <button *ngIf="account&&account.length" (click)="mint('4','0.08')">MINT</button>
          </div>
        </div>
      </ng-template> 
      <ng-template carouselSlide>
        <div class="ntf-content">
          <div class="ntf-box"></div>
          <div class="ntf-content-detail">
            <div class="ntf-heading">
              <h2>ARTISAN</h2>
              <h2>NTF</h2>
            </div>
            <p>
              Total Supply: {{(nft5$|async)?.supply}}
            </p>
            <button *ngIf="account&&account.length" (click)="mint('5','0.01')">MINT</button>
          </div>
        </div>
      </ng-template> 
    </owl-carousel-o>
  </div>
</div>
