<div style="overflow: hidden;" class="app-style">
  <div class="landing-bg">
    <div class="container">
      <nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
        <div class="container nav-content">
          <a href="/" class="navbar-brand">
            <img src="../../assets/Images/R-Logo.svg" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active"> NFT </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active"> MARKETPLACE </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active"> ROADMAP </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active"> ABOUT </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active"> PARTNERS </a>
              </li>
              <li class="nav-item" *ngIf="{connected: ethereumConnected$ | async, injected: ethereumInjected$ | async} as ethereum">
                <button class="btn wallet-connect" *ngIf="!ethereum.connected && ethereum.injected"  (click)="onConnect()"
                >Connect Wallet</button>
                <button class="btn wallet-connect" *ngIf="ethereum.connected && ethereum.injected"  (click)="onDisconnect()"
                >{{account$|async}}</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="social-icon">
        <div class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="#"
            ><img src="../../assets/Images/Twitter.svg"
          /></a>
          <a class="nav-link" aria-current="page" href="#"
            ><img src="../../assets/Images/Telegram.svg"
          /></a>
          <a class="nav-link" aria-current="page" href="#"
            ><img src="../../assets/Images/M-logo.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <app-glitch-list></app-glitch-list>
  <app-joinus-section></app-joinus-section>
  <app-ntf-listing></app-ntf-listing>
  <app-dokkodo-section></app-dokkodo-section>
  <app-aboutus-page></app-aboutus-page>
  <app-partners-page></app-partners-page>
  <app-join-company-page></app-join-company-page>
</div>
