<div style="overflow: hidden;" class="app-style">
  <div class="landing-bg">
    <div class="container">
      <nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
        <div class="container nav-content">
          <a href="/" class="navbar-brand">
            <img src="../../assets/Images/R-Logo.svg" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#section1" class="nav-link"> NFT </a>
              </li>
              <li class="nav-item">
                <a href="#section2" class="nav-link"> MARKETPLACE </a>
              </li>
              <li class="nav-item">
                <a href="#section3" class="nav-link"> ROADMAP </a>
              </li>
              <li class="nav-item">
                <a href="#section4" class="nav-link"> ABOUT </a>
              </li>
              <li class="nav-item">
                <a href="#section5" class="nav-link"> PATNERS </a>
              </li>
              <li class="nav-item">
                <button class="btn wallet-connect">Connect Wallet</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="social-icon">
        <div class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="#"
            ><img src="../../assets/Images/Twitter.svg"
          /></a>
          <a class="nav-link" aria-current="page" href="#"
            ><img src="../../assets/Images/Telegram.svg"
          /></a>
          <a class="nav-link" aria-current="page" href="#"
            ><img src="../../assets/Images/M-logo.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <app-glitch-list></app-glitch-list>
  <div id="section1">
    <app-joinus-section></app-joinus-section>
  </div>
  <div id="section2">
    <app-ntf-listing></app-ntf-listing>
  </div>
  <div id="section3">
    <app-dokkodo-section></app-dokkodo-section>
  </div>
  <div id="section4">
    <app-aboutus-page></app-aboutus-page>
  </div>
  <div id="section5">
    <app-partners-page></app-partners-page>
  </div>
  
  <app-join-company-page></app-join-company-page>
</div>
