<div class="join-company-wrapper">
  <div class="container">
    <div class="row join-company-content">
        <div class="col-md-6 col-sm-12" ></div>
        <div class="col-md-6 col-sm-12">
            <div class="join-company-heading">
                <h1>Join the community</h1>
            </div>
            <div class="join-company-detail">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                    tellus, luctus nec ulla-mcorper mattis, pulvinar dapibus leo. Quis ipsum suspendisse ultrices gravida. Risus commando viverra maecenas accusam lacus vel facilisis.
                </p>
            </div>
            <div class="join-button">
                <button>Join our discord</button>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 footer-social-icon">
                <a class="nav-link" aria-current="page" href="https://twitter.com/RoninsVIP"><img src="../../assets/Images/Twitter.svg"/></a>
                <a class="nav-link" aria-current="page" href="#"><img src="../../assets/Images/Telegram.svg"/></a>
                <a class="nav-link" aria-current="page" href="link.medium.com/wYXXZRMUqnb"><img src="../../assets/Images/M-logo.svg"/></a>
            </div>
            <div class="col-sm-12 col-md-3 copyright-detaill">
               <p> &copy; COPYRIGHT 2022</p>
            </div>
        </div>
    </div>
</div>
