.join-company-wrapper{
    background-image: url('../../assets/Images/footer-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    .join-company-heading{
        text-transform: uppercase;
        position: relative;
        font-family: 'Aquire' !important;
        margin: 0 0 15px 0;
        padding: 150px 0 20px 0;
        h1{
            text-align: end;
            font-size: 50px;
            font-weight: 900;
        }
    }
    
    .join-company-heading::after {
        content: "";
        display: block;
        width: 30%;
        height: 9px;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0px;
        bottom: 0;
        background-color: #3de0e6;
    }

    .join-button{
        text-align: end;
        button{
            text-transform: uppercase;
            border: 1px solid #fff;
            border-radius: 45px;
            background: transparent;
            color: #3de0e6;
            padding: 15px 50px;
            font-weight: 700;
            font-size: 20px;
            font-family: 'Aquire' !important;
        }
    }

    .join-company-detail p{
        padding: 27px 0;
        font-size: 21px;
        text-align: end;
        line-height: 40px;
    }
}
.footer {
    background-color: hsl(240deg 67% 2%);
    color: #fff;
    padding: 45px 0px;

    .footer-social-icon{
        display: flex;

        a{
            padding: 0 1rem;
        }
    }

    .copyright-detail p{
        text-align: center;
        padding: 16px 0 0 0;
    }
}

@media (max-width: 2560px) and (min-width: 1441px) { 
    .join-company-wrapper{
        height: 132vh;
    } 
}

@media (max-width: 1440px) and (min-width: 1025px) { 
    .join-company-wrapper{
        height: 132vh;

        .join-company-heading{
            h1{
                font-size: 40px;
            }
        }
        .join-company-detail p{
            font-size: 18px;
            line-height: 37px;
        }
    } 
}

@media (max-width: 1024px) and (min-width: 768px) {
    .join-company-wrapper{
        height: 132vh;

        .join-company-heading{
            h1{
                font-size: 30px;
            }
        }
        .join-company-detail p{
            font-size: 15px;
            line-height: 35px;
        }
    } 
}


@media (max-width: 991px) and (min-width: 768px) { 
    .join-company-wrapper{
        height: 156vh;

        .join-company-heading{
            h1{
                font-size: 30px;
            }
        }
        .join-company-detail p{
            font-size: 15px;
            line-height: 25px;
        }

        .join-company-detail p{
            padding: 7px 0;
        }
        
    } 
}

@media only screen and (max-width: 768px) {
    .join-company-heading h1{
        font-size: 34px !important;
        margin-bottom: 0px;
    }
    .join-company-detail p{  
        font-size: 15px !important;
        line-height: 19px !important;
    }
    .join-button{
        font-size: 15px !important;
    }
    .join-button button {
        padding: 12px 30px;
        font-size: 17px !important;
    }
    .join-company-wrapper {
        background-position: center;
    }
    .footer {
        padding: 20px 0px 20px 0px !important;
        text-align: center;
    }
    .footer .footer-social-icon {
        align-items: center;
        justify-content: center;
    }
    .footer .copyright-detaill {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
}
