<div class="grid-container">
  <h1 class="mat-h1">MINT CARDS</h1>
  <mat-grid-list cols="4" rowHeight="350px" *ngIf="cards$ | async as cards">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[0].title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="{{cards[0].image}}" height="120px" width="120px">
          <div>{{cards[0].content}}</div>
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[1].title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="{{cards[1].image}}" height="120px" width="120px">
          <div>{{cards[1].content}}</div>
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[2].title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="{{cards[2].image}}" height="120px" width="120px">
          <div>{{cards[2].content}}</div>
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{cards[3].title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="{{cards[3].image}}" height="120px" width="120px">
          <div>{{cards[3].content}}</div>
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
